* {
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width:100%;
    border:1px solid grey;
}

  html {
    font-size: 62.5px;
}

.first-flex {
    display: flex;
    justify-content: space-between;
}

.first-flex a {
    text-decoration: none;
    color: black;
}

section h2 {
    font-family: AlphaMack AOE;
    font-weight: lighter;
}

nav {
    width: 40%;
    font-family: AlphaMack AOE;
    font-weight: lighter;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gold;
    padding: 10%;
}

.second-flex h1 {
    font-family: AlphaMack AOE;
    font-weight: lighter;
}

.second-flex p {
    font-family: AlphaMack AOE;
    font-weight: lighter;
}

.third-flex {
    display: flex;
    justify-content: space-around;
    height: 50%;
    margin: 5% 0;
}

.fourth-flex {
    display: flex;
    justify-content: space-around;
    height: 50%;
    margin: 5% 0;
}

footer {
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    padding: 7%;
}

footer a {
    text-decoration: none;
    font-family: AlphaMack AOE;
    color: black;
}